/* Main */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  padding-inline: 3rem;
}

button {
  cursor: pointer;
  font-weight: 600;
}

.container {
  text-align: center;
  margin-inline: auto;
  margin-block-start: 4rem;
  width: 100%;
  max-width: 550px;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}


.task-input-container {
  display: flex;
  border: 2px solid #000;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  align-items: center;
  padding-inline: .5rem .13rem;
}

.task-input {
  height: 100%;
  width: 80%;
  border: none;
  outline: none;
  border-radius: 15px;
}

.task-btn {
  flex: 1;
  height: 90%;
  background-color: #000;
  border-radius: 5px;
  color: #fff;
  border: none;
}


/* List */
.output {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 100%;
  margin-top: 2rem;
}

.checkbox-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.task-check {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  border-radius: 5px;
  transition: .1s;
}

.task-check:checked {
  background-color: #555;
}

.task-check:checked + span {
  text-decoration: line-through;
}

.check-text {
  margin-left: .25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1; 
  text-align: start;
}

.del-btn {
  margin-left: auto;
  height: 30px;
  padding-inline: 10px;
  background-color: #ff2233;
  border-radius: 5px;
  color: #fff;
  border: none;
  flex-shrink: 0;
}

/* Modal */
.modal-container {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  inset: 0;
  background-color: rgba(0, 0, 0, .6);
}

.modal-box {
  width: 80%;
  background-color: #fff;
  max-width: 550px;
  border: 4px solid #000;
  border-radius: 10px;
  padding: 1rem;
}

.modal-title {
  margin-bottom: 1rem;
}

.modal-btns-container {
  margin-inline: auto;
  margin-top: 1rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.modal-btn {
  width: 40%;
  height: 40px;
  border-radius: 10px;
}

.modal-confirm {
  background-color: #ff2233;
  color: #fff;
  border: none;
}

.modal-cancel {
  border: 3px solid #ff2233;
  background-color: transparent;
}

.show-modal {
  display: flex;
}